<div class="card" style="width: 18rem;">
<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
      <div class="card-body">
    <div id="comment-text" class="text">
      {{comment_text}}
    </div>
    </div>
  </section>
  {{/each}}
</div>
</div>