<section id="section">
  <a href="/dashboard" class="is-pulled-right"> &larr; Back to dashboard</a>
  <div class="user-dashboard">
    <h2 class="title">Post blog</h2>
    <hr>
  </div>

  <form id="new-post-form" class="login-form">

    <div class="col-md-10 blogShort">
      <h2> <em> <label for="post-title">Title:</label> </em> </h2>

      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here" />



      <div class="col-md-10 blogShort">
        <h3> <em> <label for="post-content">Content:</label> </em></h3>

        <div class="container-fluid">
          <input class="textarea is-large" id="post-content" name="post-content"
            placeholder="insert blog content here" />
        </div>



        <button type="submit" class="button is-primary is-pulled-right">Create Post</button>
      </div>
  </form>
</section>

<script src="/js/add-post.js"></script>