<section id="section" class="vh-100">
    <div id="pageHeader" class="page-header">
        <h1>
            Dashboard: your posts
            {{!-- <small>Subtext for header</small> --}}
        </h1>
    </div>
    <div class="container">
        <div class="row">
            {{!-- <div class="col-sm">
                One of three columns
            </div> --}}
            {{#if posts.length}}
            <div class="col-sm">

                {{#each posts as |post|}}
                {{> post-info post}}
                <div class="card-footer text-muted">
                    <a class="btn btn-info" href="/dashboard/edit/{{post.id}}"> edit post</a>
                </div>

            </div>
            {{/each}}

            {{else}}
            <div id="pageHeader" class="page-header">
                <h1>
                    You do not currently have any posts
                    {{!-- <small>Subtext for header</small> --}}
                </h1>
            </div>
        </div>

        {{/if}}

    </div>

</section>