
<section id="section" class="vh-100">
<div class="container">
        <div class="row">
            {{!-- <div class="col-sm">
                One of three columns
            </div> --}}
            {{#if posts.length}}
            <div class="col-sm">

                {{#each posts as |post|}}
                {{> post-info post}}
            </div>
            {{/each}}

            {{else}}
            <div id="pageHeader" class="page-header">
                <h6 class="pb-4 has-text-centered is-italic">there are currently no posts</h6>
            </div>
        </div>

        {{/if}}

    </div>



