<div class="container mt-4 ">

  <div class="mb-4 mb-lg-0">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <h2 class="title pb-4">Create New Account:</h2>
        <hr>
        <div class="fadeIn first">
          <img src="https://cdn-icons-png.flaticon.com/512/2037/2037710.png" id="icon" alt="sign up Icon" />
        </div>

        <form class="signup-form">
          <div>
            <label for="username-signup">Full Name:</label>
            <input type="text" id="username-signup" class="fadeIn
            second" name="login" placeholder="Your full name">
          </div>
          <div>
            <label for="email-signup">Email</label>
            <input type="text" id="email-signup" class="fadeIn
            third" name="login" placeholder="Your E-mail">
          </div>

          <div>
            <label for="github-signup">Github</label>
            <input type="text" id="github-signup" class="fadeIn
            second" name="login" placeholder="Git User Name">
          </div>
          <div>
            <label for="twitter-signup">Twitter</label>
            <input type="text" id="twitter-signup" class="fadeIn
            second" name="login" placeholder="Twitter User Name">
          </div>
          <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" class="fadeIn
            second" name="login" placeholder="password">
          </div>


          <div id="signup-error" class="alert alert-danger" role="alert">
            <p> Email address already in use. </br> You indicated you're a new
              customer, but an account already exists with the email address. </p>
          </div>

          <div id="formFooter">

            <div>
              <button id="sign-up" type="submit">Sign up</button>
            </div>
          </div>
        </form>


      </div>

    </div>
  </div>
  </div>

  <!-- javascript file-->
  <script src="/js/signup.js"></script>